body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ------------------ Authscreen ------------------ */
.authscreen-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.mid-container {
  display: flex;
  flex: 0 0 25%;
  border: 1px solid rgba(0, 0, 0, 0.201);
  padding: 45px 40px;
  justify-content: center;
  border-radius: 7px;
  flex-direction: column;

}

.google-logo {
  display: flex;
  justify-content: center;

}

.google-logo img {
  height: 38px;
  width: 100px;
}

.authscreen-title {
  display: flex;
  justify-content: center;
  margin: 0.8rem 0rem 0rem 0rem;
  font-weight: 500;
  font-size: 25px;
}

.authscreen-info {
  display: flex;
  margin: 0.6rem 0rem 0rem 0rem;
  justify-content: center;
  font-weight: 500;
}

.authscreen-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem 4rem 0rem;
}

.authscreen-form input {
  display: flex;
  font-size: 15px;
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 17px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.201);
  border-radius: 5px;
}

.authscreen-form input:focus {
  border: 1px solid #1a73e8;
}

.authscreen-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0rem 2rem 0rem;
}

.authscreen-footer .qurstion-button {
  color: #1a73e8;
  font-weight: 500;
  font-size: 15pxpx;
}

.authscreen-footer .qurstion-button:hover {
  cursor: pointer;
}

.authscreen-question {
  display: flex;
  flex-direction: column;
}

.submit-container {
  background-color: #1a73e8;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.submit-container:hover {
  cursor: pointer;
}

.question-login {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.347);
  font-size: 10px;
}

.error-show {
  display: flex;
  align-items: center;
  color: red;
  font-size: 12px;
  font-weight: 500;
}

/* --------------- loader --------------- */

.loader {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #6da1e5d8;
  border-top: 3px solid white;
  animation-name: load;
  margin: 1px 20px;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* --------------- Homepage ------------ */

.homepage-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.body-section {
  display: flex;
  background-color: white;
  flex: 1 0 50%;
  background-color: aquamarine;
  flex-direction: column;
}

.feed-section {
  display: flex;
  flex: 1 0 80%;
  background-color: #f5f5f5;
  flex-direction: row;
  transition: 0.5s all;
}

.header {
  display: flex;
  background-color: red;
  align-items: center;
  background-color: #f5f5f5;
}

.feed-container {
  display: flex;
  flex: 1 0 70%;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 0px 15px 15px 5px;
}


/* --------------- Sidebar ------------ */

.sidebar-container {
  display: flex;
  background-color: #f5f5f5;
  flex: 0 0 17%;
  flex-direction: column;
  padding: 10px;
}

.sidebar-Compose-button {
  display: flex;
  transition: 0.4s all;
  padding: 18px 24px;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: #c2e7ff;
}

.sidebar-Compose-button span {
  font-weight: 500;
  font-size: 14px;

}

.sidebar-Compose-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.367);
}

.sidebar-options {
  display: flex;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  border-radius: 25px;
  color: #202124af;
}

.sidebar-options.active {
  background-color: #d3e3fd;
  color: #202124;
}

.sidebar-options.active:hover {
  background-color: #d3e3fd;
  cursor: pointer;


}

.sidebar-options:hover {
  background-color: rgba(211, 211, 211, 0.35);
  cursor: pointer;
}

/* ------------------- Extremeside ---------------- */

.Extremeside-container {
  display: flex;
  flex: 0 0 2%;
  background-color: rgb(234, 241, 251);
  flex-direction: column;
  padding: 10px;

}

.Extremeside-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.Extremeside-drawer:hover {
  background-color: rgba(211, 211, 211, 0.803);
  cursor: pointer;
  border-radius: 50%;

}

.Extremeside-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.Extremeside-options span {
  font-size: 11px;
  font-weight: 600;
}

/* -------------------- header ----------------- */
.header-logo-container {
  display: flex;
  height: 44px;
  flex: 0 0 17%;
  padding: 10px;
  background-color: #f5f5f5;
}

.header-logo-container {
  margin-left: 4px;
  width: 50%;
}

.search-container {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(234, 241, 251);
  margin: 5px 0px;
  border-radius: 7px;
}

.search-container form {
  display: flex;
  flex-grow: 1;
}

.search-container input {
  outline: none;
  border: none;
  font-size: 17px;
  height: 28px;
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
  background-color: transparent;
  border: none;

}

.extra-options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex: 1 0 20%;
  height: 100%;
  align-items: center;
}

/* ---------------- Feed-container ----------------- */

.feed-header-row {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.546);
  font-size: 10px;
  padding: 10px;
  transition: 0.5s all;
}

.email-container {
  display: flex;
  flex-direction: column;
}

.feed-header-row :hover {
  background-color: rgba(211, 211, 211, 0.543);
  border-radius: 50%;
}

.feed-email-headers {
  display: flex;

  flex-direction: row;
}

.feed-email-headers-options {
  display: flex;
  padding: 17px 20px;
  flex: 0 0 20%;
  font-weight: 500;
  align-items: center;
  color: rgba(0, 0, 0, 0.567);
  border-bottom: 4px solid transparent
}

.feed-email-headers-options:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.276);
}

.feed-email-headers-options span {
  display: flex;

}

.feed-email-headers-options.active {
  color: #1a73e8;
  border-bottom: 4px solid #1a73e8;
}

/* ------------------ email-row ------------- */

.email-card {
  display: flex;
  color: rgba(0, 0, 0, 0.288);
  border: 1px solid transparent;

  border-top: 1px solid rgba(0, 0, 0, 0.24);
  align-items: center;
  padding: 0px 20px;
}

.email-card:hover {
  border: 1px solid lightgrey;
  box-shadow: 0px 1px 10px 0.5px;
  cursor: pointer;
}

.starters {
  display: flex;
  flex-direction: row;
  flex: 0 0 9%;
}

.sender-name {
  display: flex;
  color: rgba(0, 0, 0, 0.567);
  flex: 0 0 18%;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.email-content {
  display: flexbox;
  padding: 10px;
  color: rgba(0, 0, 0, 0.567);
  width: 500px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 70px 0px 0px;
}

.email-content span {
  display: flexbox;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-stamp {
  display: flex;
  color: rgba(0, 0, 0, 0.567);
  flex: 0 -1 15%;
  font-size: 14px;
  font-weight: 600;
}

/* ---------------- email --------------- */

.email-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.email-profile-pic-container {
  display: flex;
  flex: 0 0 1%;
}

.email-profile-pic-container img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.sender-info {
  display: flex;
  flex: 1 0 50%;
  padding-left: 7px;
  flex-direction: column;
}

.to-me span {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.448);

}

.sender-email {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.448);
  ;
}

.sender-email span {
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin-right: 5px;
}

.email-time-span {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
}

.email-right-options {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.546);
}

.email-subject {
  display: flexbox;
  font-weight: 400;
  font-size: 23px;
  padding: 10px;
  width: 700px;
  margin: 0px 52px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.email-message-container {
  display: flex;
  padding: 10px;
  margin: 0px 50px;
  font-size: 14px;
  display: flex;
  white-space: wrap;
}

.feed-header-row :hover {
  cursor: pointer;
}

/* --------------------- compose message ----------------- */

.composemessage-container {
  display: flex;
  height: 60vh;
  width: 36%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  margin-right: 70px;
  flex-direction: column;
  right: 0;
  color: #202124;
  background-color: white;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.422);
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.222);

}

.composemessage-header {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  background-color: rgba(234, 241, 251, 0.595);
  justify-content: space-between;
}

.composemessage-form {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  padding: 10px;
  font-size: 14px;
}

.composemessage-form input {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
}

.composemessage-form textarea {
  display: flex;
  outline: none;
  border: none;
  font-size: 16px;
  flex: 1 0 50%;
  padding: 10px;
}

.composemessage-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  padding: 10px;
  color: #202124;
}

.sendemail {
  padding: 8px 40px;
  color: white;
  font-weight: 500;
  background-color: #1a73e8;
  border-radius: 17px;


}

.composemessage-header-right-option :hover {
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.composemessage-container.maximize {
  width: 80%;
  height: 80vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px 100px 1000px rgba(0, 0, 0, 0.351);
}

.composemessage-container.minimize {
  height: fit-content;
  width: 20%;
  bottom: 0;
  margin-right: 70px;
}

.composemessage-container.minimize>* {
  display: none;
}

.composemessage-container.minimize .composemessage-header {
  display: flex;

}